.container ul li {
    display: flex;
    align-items: center;
}

.container ul {
    height: calc(100% - 80px);
}

.menuItem {
    &:global(.ant-menu-item) {
        white-space: pre-line;
        line-height: 1!important;
    }    
}

:global(ul.ant-menu-root.ant-menu-inline-collapsed) li {
    justify-content: center;
    padding: 0 15px;
}