.task-card-wrapper {
    position: absolute;
    top: 10vh;
    width: 600px;
    height: 700px;
    background-color: rgba(195, 186, 186, 0.781);
    padding: 30px 20px;
    font-size: 14px;
    z-index: 2;
}
