.anticon {
  width: 30px;
  height: 30px;
}

.anticon.icon-dash {
  background: url(../../../../assets/images/icons/dash.svg) 50% no-repeat;
}

.anticon.icon-score {
  background: url(../../../../assets/images/icons/score.svg) 50% no-repeat;
}

.anticon.icon-schedule {
  background: url(../../../../assets/images/icons/schedule.svg) 50% no-repeat;
}

.anticon.icon-submit {
  background: url(../../../../assets/images/icons/submit.svg) 50% no-repeat;
}

.anticon.icon-review {
  background: url(../../../../assets/images/icons/review.svg) 50% no-repeat;
}

.anticon.icon-interviews {
  background: url(../../../../assets/images/icons/interviews.svg) 50% no-repeat;
}

.anticon.icon-mentor {
  background: url(../../../../assets/images/icons/mentor.svg) 50% no-repeat;
}

.anticon.icon-test {
  background: url(../../../../assets/images/icons/test.svg) 50% no-repeat;
}
