
.anticon.icon-dash {
    background: #F0F2F5  url(../../../../assets/images/icons/dash.svg) 50% no-repeat;
    background-size: 28px;
}
.anticon.icon-score {
    background: #F0F2F5 url(../../../../assets/images/icons/score.svg) 50% no-repeat;
    background-size: 28px;
}
.anticon.icon-schedule {
    background: #F0F2F5 url(../../../../assets/images/icons/schedule.svg) 50% no-repeat;
    background-size: 28px;
}
.anticon.icon-submit {
    background: #F0F2F5 url(../../../../assets/images/icons/submit.svg) 50% no-repeat;
    background-size: 28px;
}
.anticon.icon-review {
    background: #F0F2F5 url(../../../../assets/images/icons/review.svg) 50% no-repeat;
    background-size: 28px;
}
.anticon.icon-interviews {
    background: #F0F2F5 url(../../../../assets/images/icons/interviews.svg) 50% no-repeat;
    background-size: 28px;
}
.anticon.icon-mentor {
    background: #F0F2F5 url(../../../../assets/images/icons/mentor.svg) 50% no-repeat;
    background-size: 28px;
}
.anticon.icon-test {
    background: #F0F2F5 url(../../../../assets/images/icons/test.svg) 50% no-repeat;
    background-size: 28px;
}